@import '../../../styles/mixins';
@import '../../../styles/variables';

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    padding: 0 20px;

    @include respond-to(lg) {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    @include respond-to(sm) {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
}

.inner {
    display: flex;
    width: var(--default-layout-width);
    gap: 20px;

    @include respond-to(lg) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    @include respond-to(sm) {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond-to(lg) {
        width: 100%;
    }

    @include respond-to(sm) {
        width: 100%;
    }

    .title {
        font-size: 2.4rem;
        color: var(--primary);

        @include respond-to(lg) {
            font-size: 2rem;
        }
    }

    .text {
        color: var(--text-color);
        text-align: justify;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 300;

        @include respond-to(lg) {
            font-size: 1.6rem;
        }

        @include respond-to(sm) {
            font-size: 1.8rem;
        }
    }

    .button {
        font-size: 1.2rem;
        text-transform: uppercase;
        width: 160px;
        color: var(--primary);
        background-color: transparent;
        transition: all ease-in-out 200ms;

        &:hover {
            color: var(--white);
            background-color: var(--primary);
        }
    }
}

.cards {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;

    @include respond-to(lg) {
        width: 100%;
        align-items: center;
    }
}

.card-item {
    position: relative;
    display: block;
    height: 148px;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(50% - 20px);

    @include respond-to(lg) {
        width: 100%;
    }

    @include respond-to(sm) {
        width: 100%;
    }

    &:hover {
        .card-item-overlay {
            background-color: rgba(45, 46, 137, 1);
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 36px;
        background-color: rgba(45, 46, 137, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color ease-in-out 200ms;
    }

    &-title {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;

        @include respond-to(sm) {
            font-size: 1rem;
        }
    }
}
