@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import '../../styles/variables';
@import '../../styles/mixins';

:root {
    --primary: #2d2e89;
    --secondary: #d53630;
    --white: #fff;
    --black: #000;
    --text-color: #000;
    --font-family: 'Roboto', sans-serif;
    --default-layout-header-height: 200px;
    --default-layout-width: 1200px;
    --default-layout-horizontal-spacer: 20px;
    --tophead-height: 40px;
    --banner-height: 100px;
    --slider-height: 300px;
    --slider-height-lg: 400;
    --slider-height-md: 300px;
    --slider-height-sm: 200px;
    --nav-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
