$primary-color: #3498db;
$secondary-color: #2ecc71;
$base-font-size: 16px;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1400px;
$breakpoint-3xl: 1600px;
