@import '../../styles/mixins';
@import '../../styles/variables';

.teamPage {
    width: var(--default-layout-width);
    margin-top: 40px;

    @include respond-to(lg) {
        width: 100%;
        padding: 20px;
        margin-top: 0;
    }

    @include respond-to(sm) {
        padding: 10px;
        margin-top: 20px;
    }
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;

    @include respond-to(lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to(md) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.teamItem {
    height: 100%;
    min-width: 250px;
    max-height: 300px;
    min-height: 320px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    @include respond-to(sm) {
        max-height: 200px;
        min-height: 200px;
    }

    .imageWrapper {
        flex: 0 0 240px;
        border-radius: 8px;
        overflow: hidden;

        @include respond-to(sm) {
            flex: 0 0 150px;
        }

        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .infoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        flex: 1;
        padding: 16px;

        .gender {
            font-size: 18px;
            color: #666;
        }

        .name {
            font-size: 2.4rem;
            font-weight: 600;
            margin: 8px 0;
            @include respond-to(sm) {
                font-size: 1.8rem;
            }
        }

        .position {
            font-size: 1.6rem;
            color: #888;
            @include respond-to(sm) {
                font-size: 1.4rem;
            }
        }
    }
}
