@import '../../styles/mixins';
@import '../../styles/variables';

.contactPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner {
    max-width: var(--default-layout-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    @include respond-to(lg) {
        width: 100%;
        padding: 10px;
    }
}

.mapContainer {
    width: 100%;
    margin-bottom: 60px;
}

.map {
    width: 100%;
    height: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include respond-to(sm) {
        height: 400px;
    }
}

.formWrapper {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #ddd;
    @include respond-to(sm) {
        flex-direction: column;
        border: none;
    }

    .contactInfo {
        position: relative;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        @include respond-to(sm) {
            width: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: rgba(43, 30, 98, 0.5);
            border-radius: 50%;
            z-index: 1;
            @include respond-to(sm) {
                width: 50px;
                height: 50px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: rgba(43, 30, 98, 0.5);
            border-radius: 50%;
            z-index: 1;
            @include respond-to(sm) {
                width: 140px;
                height: 140px;
            }
        }

        &::before {
            top: 68%;
            right: 18%;
            @include respond-to(sm) {
                top: 72%;
                right: 16%;
            }
        }

        &::after {
            bottom: -40px;
            right: -40px;
        }

        .infoTitle {
            .subTitle {
                font-size: 16px;
            }
            .title {
                font-size: 28px;
            }
        }

        .infoDetails {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            .infoItem {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .icon {
                    margin-right: 10px;
                }
            }
        }

        .socialLinks {
            display: flex;
            gap: 12px;
            margin-top: 20px;

            .socialIcon {
                font-size: 24px;
                margin-right: 10px;
            }
        }
    }

    .contactInfo {
        grid-column: span 5;
        background-color: var(--primary);
        color: #fff;
        padding: 20px;
    }

    .contactForm {
        width: 60%;
        padding: 40px;
        @include respond-to(sm) {
            width: 100%;
            padding: 10px 20px;
            margin-top: 20px;
        }
    }

    .formGroup {
        margin-bottom: 28px;

        .subject {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .customRadio {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
        }

        .radioLabel {
            position: relative;
            display: inline-block;
            padding-left: 25px;
            cursor: pointer;
            line-height: 1.5;
            font-size: 16px;

            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                top: 4px;
                left: 4px;
                width: 8px;
                height: 8px;
                border: solid var(--primary);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
            }

            &:hover:before {
                border-color: #888;
            }

            &:hover:after {
                opacity: 1;
            }
        }

        .customRadio:checked + .radioLabel:after {
            opacity: 1;
        }

        .formSubmitBtn {
        }
    }

    .error {
        color: red;
        font-size: 1.2rem;
    }

    .subject label {
        color: #888888;
        margin-right: 20px;
    }

    .formGroup > label,
    .formHalf > label {
        display: block;
        margin-bottom: 8px;
        color: var(--primary);
    }

    .formGroup input,
    .formGroup textarea {
        width: 100%;
        padding: 8px;
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        transition: all 0.3s ease-in-out;
        color: #333;
        font-family: 'Roboto', sans-serif;

        &:focus {
            color: var(--primary);
            border-bottom: 1px solid var(--primary);
        }
    }

    .formGroup input[type='radio'] {
        width: auto;
        margin-right: 8px;
        color: var(--primary);
    }

    .formRow {
        display: flex;
        gap: 10px;
    }

    .formHalf {
        width: 50%;
    }

    button {
        padding: 10px 20px;
        background-color: var(--primary);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }
}
