@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.wrapper {
    width: 60%;

    @include respond-to(lg) {
        width: 100%;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 24px 10px;

    @include respond-to(sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 380px;
}

.new-label {
    position: absolute;
    top: 0px;
    left: 90px;
    background-color: red;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    animation: color-blink 2s linear infinite, blink 1s infinite;
    @include respond-to(lg) {
        left: 100px;
    }
}

@keyframes color-blink {
    0% {
        background-color: red;
        color: white;
    }
    25% {
        background-color: green;
        color: white;
    }
    50% {
        background-color: orange;
        color: black;
    }
    75% {
        background-color: blue;
        color: white;
    }
    100% {
        background-color: red;
        color: white;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
