@import '../../styles/mixins';
@import '../../styles/variables';

.info {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: #a9a9a9;

    @include respond-to(sm) {
        font-size: 1rem;
    }

    .icon {
        color: var(--primary);
        margin: 0 8px 3px 0;
    }

    .views-number {
        color: var(--secondary);
        font-weight: 500;
    }
}
