.pushNotification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336; // Default for error
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    max-width: calc(100% - 40px);
    z-index: 9999;

    &.success {
        background-color: #4caf50;
    }

    &.error {
        background-color: #f44336;
    }
}

.pushNotification.visible {
    opacity: 1;
    pointer-events: auto;
}

.message {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
}

.progress {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    animation: progressAnimation 3s linear forwards;
}

@keyframes progressAnimation {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.closeButton:hover {
    color: #ccc;
}
