.menu-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .menu-item {
        position: relative;
        display: flex;
        align-items: center;
        width: 280px;
        height: 36px;
        padding: 8px;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 4px;
        color: var(--primary);
        background-color: transparent;
        transition: background-color ease-in-out 200ms;
        text-decoration: none;

        .menu-item-link {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &.active {
            color: #1564e8;
            background-color: #e7eaf5;

            .icon {
                color: #e31d1c;
            }
        }

        &:hover {
            background-color: #e7eaf5;
        }
    }

    .title {
        margin-left: 10px;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        display: flex;
    }
}
