.serviceContainer {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.pageTitle {
    margin-bottom: 20px;
}

.actionsContainer {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px 0;
}

.searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    transition: all 0.2s ease-in-out;
    color: var(--primary);

    &:focus {
        outline: none;
        border: 1px solid var(--primary);
    }
}

.addButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: transparent;
        color: var(--primary);
    }
}

.serviceList {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;

    th,
    td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: justify;
        max-width: 300px;
        word-wrap: break-word;
        white-space: normal;
    }

    th {
        background-color: rgba(231, 239, 253, 1);
    }

    tr:last-child td {
        border-bottom: none;
    }
}

.serviceImage {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.childRow {
    background-color: #f9f9f9;
}

.editButton {
    padding: 5px 10px;
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: transparent;
        border: 1px solid var(--primary);
        color: var(--primary);
    }
}

.deleteButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
    border-radius: 4px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: #dc3545;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.paginationControls {
    button {
        margin-left: 5px;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: var(--primary);
        color: #fff;
        cursor: pointer;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: var(--primary);
        }
    }
}

.itemsPerPageContainer {
    margin: 20px 0;
    display: flex;
    align-items: center;

    label {
        margin-right: 10px;
    }

    .itemsPerPageSelect {
        padding: 5px;
    }
}
