.sidebar {
    width: 300px;
    background-color: white;
    color: var(--text-color);
    min-height: 100vh;
    height: auto;
    transition: width 0.3s;
    position: relative;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

    &.collapsed {
        width: 80px;

        .logoWrapper {
            padding: 10px;
        }

        .logo {
            max-width: 60px;
        }

        .toggleIcon {
            margin-left: 0px;
        }

        .menuItem {
            display: flex;
            align-items: center;
        }

        .menuText {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &.expanded {
        .menuText {
            opacity: 1;
            transition: opacity 0.3s 0.3s;
        }
    }
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--white);
    font-size: 1.6rem;

    span {
        color: var(--primary);
        flex-grow: 1;
    }
}

.toggleIcon {
    cursor: pointer;
    margin-left: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;

        a {
            color: var(--text-color);
            &:hover {
                background-color: var(--primary-bg-hover);
                color: var(--primary);

                .menuIcon,
                .chevronIcon {
                    color: var(--primary);
                }
            }
        }

        > div {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            &:hover {
                background-color: var(--primary-bg-hover);
                color: var(--primary);

                .menuIcon,
                .chevronIcon {
                    color: var(--primary);
                }
            }
        }

        .menuIcon {
            margin-right: 10px;
            min-width: 20px;
        }

        .chevronIcon {
            transition: transform 0.3s, color 0.3s;
            margin-left: 20px;
        }

        .subMenu {
            list-style: none;
            padding: 0;
            margin: 8px 0 0 40px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            li {
                padding: 10px 0;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
                font-size: 1.4rem;

                &:hover {
                    background-color: var(--primary-bg-hover);
                    color: var(--primary);
                }
            }

            &.open {
                max-height: 200px;
            }
        }
    }
}
