@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.wrapper {
    height: var(--tophead-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../assets/images/tophead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include respond-to(sm) {
        height: 30px;
        margin-top: var(--nav-height);
    }

    .inner {
        height: 100%;
        width: var(--default-layout-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include respond-to(lg) {
            width: 100%;
        }

        .hotline-container {
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            @include respond-to(sm) {
                display: flex;
            }
            .hotline {
                display: flex;
                align-items: center;
                animation: slideRightToLeft 10s linear infinite;

                @include respond-to(lg) {
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.2rem;
                    margin-left: 10px;
                }

                .hotline-label {
                    display: flex;
                    align-items: center;
                    color: var(--white);
                    margin-right: 10px;

                    .phone-icon {
                        margin-right: 5px;
                    }

                    @include respond-to(lg) {
                        margin-right: 8px;
                    }
                }

                .hotline-numbers {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;

                    @include respond-to(lg) {
                        flex-direction: row;
                        align-items: center;
                        font-size: 1.2rem;
                        white-space: wrap;
                    }

                    .hotline-number {
                        color: var(--white);
                        margin-right: 5px;
                        text-decoration: none;
                        font-weight: bold;
                    }

                    .separator {
                        color: var(--white);
                        margin: 0 10px;
                    }
                }
            }
        }

        .language-button {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background-color: transparent;
            color: var(--white);
            border: none;
            cursor: pointer;

            @include respond-to(lg) {
                display: none;
            }
        }

        .flag-icon {
            width: 30px;
            height: 20px;
            object-fit: cover;
            margin-right: 8px;
        }

        .arrow-icon {
            font-size: 12px;
            margin-left: 8px;
        }

        .language-menu {
            width: 140px;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: var(--white);
            border: 1px solid #ddd;
            padding: 8px;
            display: flex;
            flex-direction: column;
            z-index: 1000;
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;

            @include respond-to(lg) {
                display: none;
            }
        }

        .language-menu.open {
            opacity: 1;
            transform: translateY(0);
        }

        .close-button {
            background: none;
            border: none;
            color: #aaa;
            font-size: 20px;
            cursor: pointer;
            align-self: flex-end;

            @include respond-to(lg) {
                align-self: center;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 8px;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #333;
        }
    }
}

.notification-icon {
    font-size: 24px;
    color: var(--white);
    margin-right: 8px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 100%;
    color: var(--secondary);
    cursor: pointer;
}

.notification-badge {
    .notification-icon-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .notification-icon {
        font-size: 24px;
        color: var(--secondary);
    }

    .new-label {
        position: absolute;
        top: -2px;
        right: -24px;
        background-color: red;
        color: white;
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
        animation: blink 1s infinite;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.news-menu {
    max-width: 400px;
    min-height: 400px;
}

.news-item {
    max-width: 360px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .news-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 4px;
        flex-shrink: 0;
    }

    .news-info {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .news-title {
            position: relative;
            font-size: 1.6rem;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 16px 0 8px 0;
            .new-label {
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: red;
                color: white;
                padding: 2px 8px;
                border-radius: 4px;
                font-size: 1rem;
                font-weight: bold;
                white-space: nowrap;
            }
        }

        .news-summary {
            font-size: 1.2rem;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
