@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: var(--nav-height);
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    z-index: 1000;
    @include respond-to(xl) {
        padding: 0 20px;
    }

    @include respond-to(sm) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        opacity: 0;
        animation: slideDown 0.3s forwards ease-in-out;
    }
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        opacity: 0;
        animation: slideDown 0.3s forwards ease-in-out;
    }

    @keyframes slideDown {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .inner {
        width: var(--default-layout-width);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 60px;

            @include respond-to(sm) {
                height: 40px;
            }
        }

        .mobile-menu-icon {
            display: none;
            cursor: pointer;
            font-size: 24px;
            color: white;

            @include respond-to(xl) {
                display: block;
            }
        }

        .navigation-links {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                height: var(--nav-height);
                min-width: 100px;
                z-index: 1000;
                justify-content: center;
                display: flex;
                // align-items: center;
                flex-direction: column;
                transition: all 0.2s ease-in-out;
                text-align: center;

                &:hover {
                    background-color: var(--secondary);
                }

                @include respond-to(xl) {
                    min-width: 100%;
                }

                .menu-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    @include respond-to(xl) {
                        padding: 16px 20px;
                        justify-content: space-between;
                    }

                    .item-icon {
                        display: flex;
                        gap: 8px;
                        flex-direction: column;
                        @include respond-to(xl) {
                            flex-direction: row;
                            gap: 20px;
                        }
                    }

                    .nav-icon {
                        font-size: 2rem;
                    }
                }

                &.has-children {
                    cursor: pointer;

                    .submenu-icon {
                        display: none;
                        margin-left: 10px;
                        cursor: pointer;
                        color: var(--white);

                        @include respond-to(xl) {
                            display: inline-block;
                        }
                    }

                    .dropdown {
                        display: none;
                    }
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    font-size: 1.4rem;
                    padding: 10px;
                    transition: color 0.3s ease;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    text-transform: uppercase;
                }

                .dropdown {
                    position: absolute;
                    top: 100%;
                    left: 0;

                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    @include respond-to(xl) {
                        display: none;
                        border-radius: 0;
                    }

                    li {
                        width: 100%;
                        height: 40px;
                        margin: 0;
                        white-space: nowrap;
                        position: relative;
                        background-color: white;

                        a {
                            width: 100%;
                            min-width: 200px;
                            padding: 8px 16px;
                            color: black;
                            display: flex;
                            transition: all ease-in-out 0.2s;
                            text-transform: uppercase;

                            &:hover {
                                color: var(--white);
                            }
                        }
                        &:hover {
                            background-color: var(--secondary);

                            div > a {
                                color: white;
                            }
                        }
                    }

                    &.open {
                        @media (max-width: 1280px) {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            position: static;
                            box-shadow: none;
                            background-color: none;

                            li {
                                background-color: var(--primary);
                                height: auto;

                                &:hover {
                                    background-color: var(--secondary);
                                }

                                a {
                                    color: var(--white);
                                    background-color: transparent;
                                    font-size: 14px;
                                }
                            }

                            .sub-link-wrapper {
                                @include respond-to(xl) {
                                    padding: 20px 40px;
                                    width: 100%;
                                    align-items: center;
                                    display: flex;
                                }
                            }
                        }

                        @media (min-width: 1280px) {
                            display: flex;
                            flex-direction: column;
                            background-color: var(--primary);
                            transform: translateY(-12px);
                            opacity: 0;
                            animation: slideDown 0.3s forwards ease-in-out;
                        }
                    }
                }
            }
        }

        .search-button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            padding: 10px;
            transition: color 0.3s ease;

            &:hover {
                color: lightgray;
            }
        }
    }

    @include respond-to(xl) {
        .inner {
            .navigation-links {
                display: none;
                height: 100vh;
                position: fixed;
                top: var(--nav-height);
                left: 0;
                width: 100%;
                background-color: var(--primary);
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                z-index: 1000;

                li {
                    height: auto;
                    align-items: flex-start;

                    a {
                        height: auto;
                        font-size: 18px;
                    }
                }

                &.open {
                    display: flex;
                    max-height: calc(100vh - var(--nav-height));
                    overflow-y: auto;
                    transition: max-height 0.3s ease;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            .search-button {
                margin-right: 15px;
            }
        }
    }
}

.dropdown-second-level {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include respond-to(xl) {
        display: none;
        border-radius: 0;
    }

    li {
        height: 40px;
        margin: 0;
        white-space: nowrap;

        a {
            width: 100%;
            min-width: 200px;
            padding: 8px 16px;
            color: black;
            background-color: white;
            display: flex;
            align-items: center;
            transition: all ease-in-out 0.3s;
            text-transform: uppercase;

            @include respond-to(xl) {
                padding: 20px 40px;
            }

            &:hover {
                color: var(--white);
                background-color: var(--secondary);
            }
        }
    }

    &.open {
        @media (max-width: 1280px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: static;
            box-shadow: none;
            background-color: none;

            li {
                background-color: var(--primary);
                height: auto;
                padding: 12px 0 12px 60px;
                &:hover {
                    background-color: var(--secondary);
                }

                a {
                    color: var(--white);
                    background-color: transparent;
                    font-size: 14px;
                }
            }
        }

        @media (min-width: 1280px) {
            display: flex;
            flex-direction: column;
            background-color: var(--primary);
            transform: translateY(-12px);
            opacity: 0;
            animation: slideDown 0.3s forwards ease-in-out;
        }
    }
}
