@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    width: calc(33.33333% - 10px);
    @include respond-to(lg) {
    }
    .inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .wrapper-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include respond-to(lg) {
            flex-direction: row;
        }
    }

    .library {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .main-video {
            width: 100%;
            height: 100%;
            iframe {
                border-radius: 8px;
                width: 100%;
                height: 200px;
            }
        }

        .thumbnails {
            display: flex;
            gap: 20px;

            .swiper-container {
                width: 100%;
            }

            .thumbnail {
                cursor: pointer;

                .thumbnail-image {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
