@import '../../../styles/mixins';
@import '../../../styles/variables';

.banner {
    width: 100%;
    .inner {
        max-width: 100%;
        margin: 0 auto;
    }

    .swiper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            z-index: 9998;

            &::after {
                font-size: 20px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);

                .swiper-icon {
                    opacity: 1;
                }
            }
        }
        .swiper-button-prev {
            left: 10px;
        }

        .swiper-button-next {
            right: 10px;
        }

        .swiper-icon {
            font-size: 1.8rem;
            opacity: 0.6;
            transition: all 0.2s ease-in-out;
        }
    }

    .slidesContainer {
        display: flex;
        transition: transform 1s ease-in-out;
    }

    .partner-card {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: translateY(-5px);
        }
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .contentContainer {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 40%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(77, 71, 157, 0.5);
        padding: 20px 70px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        clip-path: polygon(52px 0, 100% 0, calc(100% - 52px) 100%, 0 100%);
        @include respond-to(lg) {
            max-height: 180px;
        }

        @include respond-to(md) {
            max-height: 160px;
        }

        @include respond-to(sm) {
            max-height: 80px;
            width: 50%;
            padding: 10px 45px;
        }
    }

    .textWrapper {
        white-space: normal;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        color: var(--white);
        text-align: justify;
        font-size: 2.4rem;
        @include respond-to(lg) {
            font-size: 1.6rem;
        }

        @include respond-to(md) {
            font-size: 1.3rem;
        }

        @include respond-to(sm) {
            font-size: 0.6rem;
        }
    }

    .left {
        left: 2%;
    }

    .right {
        right: 2%;
    }
}
