.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
    background-color: transparent; // Remove background for smaller component

    &.small {
        width: 80px; // Adjust size as needed
        height: 40px;
    }

    &.medium {
        width: 120px; // Default medium size
        height: 60px;
    }

    &.large {
        width: 160px; // Adjust size as needed
        height: 80px;
    }
}

.spinnerContainer {
    display: flex;
    align-items: center;
}

.dot1,
.dot2,
.dot3 {
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    border-radius: 50%;
    margin: 0 4px;
    animation: bounce 1s infinite ease-in-out;
}

.dot2 {
    animation-delay: 0.3s;
}

.dot3 {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.loadingText {
    font-size: 1.2rem;
    margin-left: 10px;
    color: var(--primary);
    font-weight: bold;
}
