@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @include respond-to(lg) {
        margin-top: 0;
        padding: 20px;
    }

    @include respond-to(sm) {
        margin-top: 20px;
        padding: 10px;
    }
}

.search-section {
    width: var(--default-layout-width);
    gap: 20px;
    display: flex;
    @include respond-to(lg) {
        width: 100%;
        flex-direction: column;
    }
    @include respond-to(sm) {
    }
}

.search-column {
    flex: 3;

    .search-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;

        @include respond-to(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to(sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .search-title {
        font-size: 20px;
        min-width: 120px;
        width: 200px;
        padding: 4px 8px;
        background-color: var(--primary);
        color: var(--white);
        border-radius: 4px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.suggest {
    flex: 1;

    .suggest-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        gap: 20px;
        margin-top: 10px;

        .card {
            flex: 1;
        }
    }

    .suggest-title {
        font-size: 18px;
        font-weight: 500;
        max-width: 200px;
        padding: 4px 4px;
        background-color: var(--primary);
        color: var(--white);
        border-radius: 4px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.search-items a {
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;

    .pageButton {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #f0f0f0;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.3s;
        font-weight: normal;

        &.active {
            background-color: #007bff;
            color: white;
            font-weight: bold;
        }

        &:hover:not(.active) {
            background-color: #e0e0e0;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
            background-color: #f0f0f0;
            pointer-events: none; // Ngăn không cho nhấn vào
        }
    }
}

a {
    text-decoration: none;
}
