@import '../../styles/mixins';
@import '../../styles/variables';

.button-group {
    display: flex;
    gap: 10px;
}

.button {
    min-width: 120px;
    padding: 8px 16px;
    border: 1px solid var(--primary);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    color: var(--primary);

    @include respond-to(sm) {
        padding: 6px 10px;
        min-width: 70px;
    }

    &.active {
        border: 1px solid var(--primary);
        background-color: var(--primary);
        color: #fff;
    }

    &:hover {
        border: 1px solid var(--primary);
        background-color: var(--primary);
        color: #fff;
    }
}
