.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0/ 12%);

    .banner {
        background-image: url('../../../assets/images/banner_cen.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: var(--banner-height);
    }
}
