@import '../../../styles/mixins';
@import '../../../styles/variables';

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0 20px;
}

.inner {
    display: flex;
    gap: 22px;
    width: var(--default-layout-width);

    @include respond-to(lg) {
        width: 100%;
        flex-direction: column;
    }
}
