.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .companyName {
        color: var(--primary);
        font-weight: bold;
        font-size: 2.4rem;
        margin-right: auto;
    }

    .iconWrapper,
    .userWrapper {
        position: relative;
        cursor: pointer;
        margin-right: 20px;
    }

    .icon,
    .chevronIcon {
        color: var(--text-color);
        transition: color 0.3s;

        &:hover {
            color: var(--primary);
        }
    }

    .userWrapper {
        display: flex;
        align-items: center;

        .userName {
            margin-right: 10px;
            transition: color 0.3s;
        }
    }
}

.dropdown {
    position: absolute;
    min-height: 100px;
    max-height: 400px;
    min-width: 300px;
    max-width: 400px;
    top: 110%;
    right: 0;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;

    &.visible {
        display: block;
    }

    .dropdownItem {
        display: flex;
        align-items: center;
        padding: 10px;
        color: var(--text-color);
        cursor: pointer;
        transition: background-color 0.3s;
        overflow: hidden;

        &:hover {
            background-color: var(--primary-bg-hover);
            color: var(--primary);
        }

        .icon {
            margin-right: 10px;
            color: var(--text-color);
        }

        .notificationContent {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;

            .notificationTitle {
                font-weight: bold;
                margin-bottom: 4px;
            }

            .notificationMessage {
                font-size: 0.9em;
                color: var(--secondary-text-color);
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .noNotifications {
        text-align: center;
        color: var(--secondary-text-color);
    }

    .viewAll {
        text-align: center;
        padding: 10px;
        border-top: 1px solid var(--border-color);
        cursor: pointer;
        color: var(--primary);
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--primary-bg-hover);
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
        transition: background 0.3s ease-in-out;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ddd;
    }
}
