@import '../../styles/mixins';
@import '../../styles/variables';

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_image-wrapper {
    overflow: hidden;
}

.card_image {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }

    @include respond-to(lg) {
        height: 200px;
    }
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1.6rem;
    background-color: #fff;
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: justify;
}

.card_title {
    font-size: 1.6rem;
    font-weight: 600;
    min-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include respond-to(lg) {
        font-size: 2rem;
    }

    @include respond-to(sm) {
    }
}

.card_description {
    font-size: 1.4rem;
    font-weight: 300;
    min-height: 40px;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include respond-to(lg) {
        font-size: 1.8rem;
    }
    @include respond-to(sm) {
    }
}

.card_link,
.card_title-link {
    text-decoration: none;
    color: inherit;
}
