.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
}

.icon {
    padding: 12px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    color: var(--white);
    transition: all ease-in-out 200ms;

    &:hover {
        background-color: var(--white);
        color: var(--black);
    }
}

.icon-input {
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    color: var(--primary);
    transition: all ease-in-out 200ms;
    margin-right: 10px;

    &:hover {
        background-color: var(--secondary);
        color: var(--white);
    }
}

.search-modal {
    .ant-modal-content {
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: none;
    }
    .ant-modal-body {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search-input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: none;
    outline: none;
    transition: all ease-in-out 200ms;
    background-color: var(--white);
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;

    &:focus {
        border-bottom: 1px solid var(--primary);
    }

    &:focus {
        outline: none;
        border-bottom: 1px solid var(--primary);
        box-shadow: none;
    }
}
