@import '../../styles/mixins';
@import '../../styles/variables';

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20px;

    @include respond-to(lg) {
        padding: 20px;
        box-shadow: none;
        margin-left: 0;
    }

    @include respond-to(sm) {
        box-shadow: none;
        padding: 10px;
        margin-top: 20px;
    }
}

.filter {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    @include respond-to(lg) {
        display: flex;
        top: 80px;
        left: 0;
        margin-left: 20px;
    }

    .filter-button {
        background-color: var(--primary);
        &:hover {
            background-color: var(--primary) !important;
            opacity: 0.8;
        }
    }
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin: 40px 0;

    @include respond-to(lg) {
        margin-top: 80px;
    }

    @include respond-to(sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;

    .pageButton {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #f0f0f0;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.3s;

        &.active {
            background-color: #e0e0e0;
            font-weight: bold;
        }

        &:hover:not(.active) {
            background-color: #e0e0e0;
        }
    }
}

a {
    text-decoration: none;
}

.new-label {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: red;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    animation: color-blink 2s linear infinite, blink 1s infinite;
    @include respond-to(lg) {
        top: 24px;
    }

    @include respond-to(sm) {
        top: 12px;
    }
}

@keyframes color-blink {
    0% {
        background-color: red;
        color: white;
    }
    25% {
        background-color: green;
        color: white;
    }
    50% {
        background-color: orange;
        color: black;
    }
    75% {
        background-color: blue;
        color: white;
    }
    100% {
        background-color: red;
        color: white;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
