@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 20px;

    @include respond-to(lg) {
        margin-left: 0;
        padding: 20px;
    }

    @include respond-to(sm) {
        margin-top: 10px;
        padding: 10px;
    }

    .header {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .content {
        width: 100%;
        margin-bottom: 20px;
        text-align: justify;
        overflow: hidden;

        @include respond-to(sm) {
            font-size: 18px;
        }

        img {
            width: 100%;
            max-height: 600px;
            object-fit: cover;
            border-radius: 4px;
            margin: 40px;
            @include respond-to(sm) {
                max-width: 100%;
                margin: 0;
                margin-bottom: 30px;
                margin-top: 20px;
            }
        }
        em {
            display: block;
            margin: -32px 0 16px 0;
            text-align: center;
        }

        a {
            width: 100%;
        }
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .image {
        width: 100%;
        max-width: 100%;
        max-height: 600px;
        object-fit: cover;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .image-description {
        font-style: italic;
        margin-top: 8px;
        text-align: center;
    }

    .datetime {
        font-style: italic;
        color: #999;
    }
}
